/*  your css code here. If applicable */
:root{
	background-color:skyblue;
}

 .container h5:first-child{
	background-color:black;
	color:white;
}

.container p:last-child{
	color: red;
}

.container ul li:first-child{
	background-color:white;
}

.container ul li:last-child{
	background-color:white;
}

.container ul li:nth-child(2n){
	background-color: gray;
}

.container ul li:nth-child(3){
	background-color:pink;
}